body {
    margin: 0;
    font-family: 'ABeeZee';
    background-image: linear-gradient(blue 30%, purple 100%);
  }
  
/** Headings **/
h1 {
    text-align: center;
    color:white;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: white;
}

h3 {
  font-size: 30px;
  padding: 20px 0;
}

h4 {
  text-align: center;
  font-size: 30px;
}

.title {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin-left: 8%;
  margin-bottom: 3%;
}

  a {
    color: white;
    font-size: 20px;
  }
  
  /* Menu Bar */
  
  .nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .nav li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  .nav li a:hover,
  .nav .btn:hover {
    background-color: white;
    color: blue;
  }
  
.active {
  background-color: white;
  color: blue;
}

  .nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .logo {
    margin-left: 3%;
  }
  
  /* menu */
  
  .nav .menu-bar {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .nav .menu-icon .icon {
    background:white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .nav .menu-icon .icon:before,
  .nav .menu-icon .icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav .menu-icon .icon:before {
    top: 5px;
  }
  
  .nav .menu-icon .icon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .nav .btn {
    display: none;
    background-color: #6a1b67;
  }
  
  .nav .btn:checked ~ .menu-bar {
    max-height: 240px;
  }
  
  .nav .btn:checked ~ .menu-icon .icon {
    background: transparent;
  }
  
  .nav .btn:checked ~ .menu-icon .icon:before {
    transform: rotate(-45deg);
  }
  
  .nav .btn:checked ~ .menu-icon .icon:after {
    transform: rotate(45deg);
  }
  
  .nav .btn:checked ~ .menu-icon:not(.steps) .icon:before,
  .nav .btn:checked ~ .menu-icon:not(.steps) .icon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
   
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu-bar {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }
  }
  
  /** Section **/
  .apple, .google {
    width: 100px;
}

  .android, .ios {
    background-color: white;
    color: blue;
    text-decoration: none;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
  }

  .android:hover, .ios:hover{
    background-image: linear-gradient(blue 30%, purple 100%);
    color: white;
  }

  /** APP table **/
  table {
      align-content: center;
      text-align: center;
      width: 85%;
      margin-left: 7%;
      border-bottom: 2px solid white;
  }

  td {
      width: 50%;
  }

  .left-td {
      border-right: 2px solid white;
      text-align: center;
  }

  .rate-us {
    padding: 10px 50px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 18%;
    background-image: linear-gradient(blue 30%, purple 100%);
    margin-left: 28%;
  }

  .rate-us a {
    color: white;
    text-decoration: none;
  }

  .rate-us:hover {
      opacity: 0.7;
  }

.download {
  margin-top: 5%;
  padding: 20px 10px;
  width: 65%;
  margin-left: 17%;
}

/** Gallery Section **/
.gallery {
  color: black;
  width: 100%;
  text-align: center;
  height: 300px;
}
 
/** Footer **/
.footer {
  width: 100%;
  color: white;
  margin-top: 0;
  padding: 20px 0;
}

.ql {
  text-align: center;
}

.ql a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

.ql a:hover {
  text-decoration: underline;
}

.social-media, .fa-twitter,.fa-linkedin   {
  text-align: center;
}

.social-media a{
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #3B5998;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-linkedin {
  color: white;
}

  @media screen and (max-width: 600px) {

    h1 {
        margin-top: 15%;
        margin-bottom: 5%;
        font-size: 26px;
    }
    .title {
      font-size: 18px;
      margin-bottom: 4%;
    }

    .download {
        width: 100%;
        margin-left: 0;
    }
    .apple {
      width: 30%;
    }
    .google {
      width: 44%;
    }
    .logo {
      height: 50px;
      font-size: 22px;
    }
    .nav {
      height: 40%;
    }
    .nav, .btn, .logo, .active {
    }
    .nav li a {
      background-color: white;
      color: blue;
    }
    .nav li a:hover, .nav li a.active {
      background-image: linear-gradient(blue 30%, purple 100%);
      color: white;
    }
    .ql a {
      font-size: 14px;
    }
  }
